<%if (!mod_info) return;%>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/<%- mod_info%>.js"></script>
<noscript><a href="http://www.51.la/?<%- mod_info%>" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/<%- mod_info%>.asp" style="border:none" /></a></noscript>
