<script type="text/javascript">
(function($){
  $('.entry').each(function(i){
    $(this).find('img').each(function(){
      var alt = this.alt;

      $(this).wrap('<a href="' + this.src + '" title="' + alt + '" class="fancybox" rel="fancybox' + i + '" />').wrap('<div class="img_block"></div>');
     
      if(alt){$(this).after('<span class="caption">' + alt + '</span>')};
    });
  });

  $('.fancybox').fancybox();
})(jQuery);
</script>