<%if (!module.key) return;%>
<div id='swiftype-searchinfo' style='display: none;'><div class="alert alert-info"> 正在搜索中，稍后将在这里显示结果。。。。</div></div>
<script type="text/javascript">
var Swiftype = window.Swiftype || {key:'<%-module.key%>',renderStyle: 'inline' };
_js2load.push({src:"//s.swiftypecdn.com/embed.js"});
$(function(){$('#main-col').prepend('<div id="st-results-container"></div>');$('form').has('#st-search-input').submit(function(){$('#st-results-container').html($('#swiftype-searchinfo').html());})});
</script>
