<%
if (config.addRootPath)
   return;
//为了方便使用,首先对一些变量进行预处理,
config.addRootPath = function(str){
    if (str.length > 2 && str[0] == '/' && str[1] != '/')
	return config.root + str.substr(1);
    else
	return str;
}

hexo.__ = function(str)
{
  var a = __(str);
  return a?a:str;
}

theme.add_module = function(mod)
{
    if (theme.loaded_modules.indexOf(mod) < 0)
	theme.loaded_modules.splice(-2,0,mod);
}

config.load_widgets = function(name,item,index)
{
    if (name.search('_') >= 0 && index)
	return "";
    var str="<section id='" + name + "_widget'>";
    var widgets = [];
    if (!item || !item.widgets || item.widgets.theme != false)
    {
	if (theme.widgets && theme.widgets[name])
	    widgets = widgets.concat(theme.widgets[name]);
    }

    if (item && item.widgets && item.widgets[name])
    {
	item.widgets[name].forEach(function(widget){
	    if (widgets.indexOf(widget) == -1)
		widgets.push(widget);
	})
    }

    widgets.forEach(function(widget){
	str += '<div class="widget" id="widget_' + name + '_' + widget + '>">';
	str += partial('_widget/' + widget,{pos: name,item: item});
	str += '</div>';
    });

    str +='</section>';
    return str;
}

if (theme.comments.provider)
    theme.comments.info = theme.comments[theme.comments.provider];
%>
