<%if (!theme._widgets.hasOwnProperty('recent_posts'))
{
    var str = '';
    if (site.posts.length)
    {
	str = '<ul class="list-group">';
	site.posts.sort('date', -1).limit(5).each(function(post){
	    str += '<li class="list-group-item icon"><a href="' + config.root + post.path + '">' + post.title + '</a></li>';
	});
	str += '</ul>';
    }
    theme._widgets.recent_posts = str;
}
%>
<%- theme._widgets.recent_posts %>
