/*styles for 300 and up @ 16px!*/
/* The max-width declaration below blocks this from ever working */

@media(min-width:768px) {
    .container {
        width: 750px
    }
}

@media(min-width:992px) {
    .container {
        width: 970px
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px
    }
}
@media(max-width:767px) {
  .row .alignleft {width: 99%;}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .row .alignleft {width: 70%;}
  .row .alignright {width: 30%;}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .row .alignleft {width: 75%;}
  .row .alignright {width: 25%;}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container{}
  .row .alignleft {width: 75%;}
  .row .alignright {width: 25%;}
}
@media screen and (min-width: 1200px){
  body {
    background-color: #eee;
  }
    .inner {
	width: 100%;
    }
    .row .alignleft {width: 75%;}
    .row .alignright {width: 20%;}
}
