<%var str = '',amount=40;
if (site.tags.length)
{
  str += '<div class="widget tagcloud"><div class="entry panel-body">';
  str += tagcloud(site.tags.sort('posts.length',-1).limit(amount), _.extend({amount: amount,color: true,min_font: 5,max_font: 30,start_color: '#DB25B1',end_color: '#24072E'},options));
  str += '</div></div>';
}%><%- str%>
