<% theme.widgets.sidebar.forEach(function(widget){ var title = __(widget);%>
<div id="widget_<%- widget %>" class="widget panel panel-primary">
  <%- title?'<div class="panel-heading">' + title + '</div>':'' -%>
  <%- partial('../_widget/' + widget) -%>
</div><%if (!cache && hexo.debug){%><!--widget_<%- widget %>--><%}%>
<% }); %>
