<!-- Duoshuo Comment BEGIN -->
<% theme.add_module('duoshuo'); %>
<div class="ds-thread" <% if (page.thread) {%> data-thread-key="<%=page.thread%>" <%}%> data-url="<%=item.permalink%>" data-title="<%=page.title%>"></div>
<!-- Duoshuo Comment END -->

