<% add_module('swiftype'); %>
<form class="input-group">
<input type="text" id="st-search-input" class="form-control" placeholder="<%= __('search') %>" autocomplete="off" autocorrect="off" autocapitalize="off" style="outline: none;">
<span class="input-group-btn"><button class="btn btn-default" type="search"><i class="fa fa-search"></i></button></span>
</form>